<div class = "new">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">New post</h1>
    </div>

    
    <%= form_for :post, url: posts_path do |f|%>
        <% if @post.errors.any? %>
            <% @post.errors.full_messages.each do |msg|%>
                <div class="a1ert alert-danger"><%= msg%></div>
            <%end%>
        <%end%>

        <p>
            <%= f.text_field :title, :placeholder => "title" %>
        </p>

        <p>
            <%= f.text_area(:body, {:class => 'form-control',:id => "form_textarea", :placeholder => "type in the contents of your post..."})%>
        </p>

        <p>
            <%= f.submit("Save Post", {:class => 'btn btn-outline-primary ml-md-auto'}) %>
        </p>
    <%end%>
</div>