

<div class = "new">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"><%= @post.title %></h1>
    </div>


    <p><%= @post.body %></p>
    
    <hr>
    
    <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-outline-dark' %>
    <%= link_to 'Delete', post_path(@post),
            method: :delete,
            data: {confirm: 'Are you sure?'},
             :class => 'btn btn-outline-danger' %>
    <hr>

   <%= render 'comments/comments' %> 
   <%= render 'comments/form' %> 
   
</div>
